<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DogeAssets/Balance Bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189, 858}, {297, 99}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {297, 99}}</string>
			<key>sourceSize</key>
			<string>{300, 100}</string>
		</dict>
		<key>DogeAssets/General Heading.png</key>
		<dict>
			<key>frame</key>
			<string>{{1113, 403}, {245, 60}}</string>
			<key>offset</key>
			<string>{-3, 11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74, 9}, {245, 60}}</string>
			<key>sourceSize</key>
			<string>{400, 100}</string>
		</dict>
		<key>DogeAssets/Menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697, 1}, {339, 173}}</string>
			<key>offset</key>
			<string>{5, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 13}, {339, 173}}</string>
			<key>sourceSize</key>
			<string>{350, 200}</string>
		</dict>
		<key>DogeAssets/Pickaxe-Art.png</key>
		<dict>
			<key>frame</key>
			<string>{{1920, 883}, {136, 81}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8, 2}, {136, 81}}</string>
			<key>sourceSize</key>
			<string>{150, 84}</string>
		</dict>
		<key>DogeAssets/Upgrades.png</key>
		<dict>
			<key>frame</key>
			<string>{{1567, 1116}, {160, 78}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {160, 78}}</string>
			<key>sourceSize</key>
			<string>{160, 80}</string>
		</dict>
		<key>DogeAssets/back Button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1113, 650}, {182, 60}}</string>
			<key>offset</key>
			<string>{-2, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7, 27}, {182, 60}}</string>
			<key>sourceSize</key>
			<string>{200, 100}</string>
		</dict>
		<key>DogeAssets/buy button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1556}, {1186, 490}}</string>
			<key>offset</key>
			<string>{-8, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 21}, {1186, 490}}</string>
			<key>sourceSize</key>
			<string>{1220, 520}</string>
		</dict>
		<key>DogeAssets/digger shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{1491, 741}, {125, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {125, 132}}</string>
			<key>sourceSize</key>
			<string>{125, 132}</string>
		</dict>
		<key>DogeAssets/dogecoin-300.png</key>
		<dict>
			<key>frame</key>
			<string>{{1770, 914}, {148, 148}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {148, 148}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>DogeAssets/dogeminer logo 2x 5mil.png</key>
		<dict>
			<key>frame</key>
			<string>{{1113, 1}, {345, 74}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27, 11}, {345, 74}}</string>
			<key>sourceSize</key>
			<string>{400, 100}</string>
		</dict>
		<key>DogeAssets/dogeminer use this .png</key>
		<dict>
			<key>frame</key>
			<string>{{1697, 176}, {331, 75}}</string>
			<key>offset</key>
			<string>{1, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36, 49}, {331, 75}}</string>
			<key>sourceSize</key>
			<string>{400, 200}</string>
		</dict>
		<key>DogeAssets/dynamite shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{1491, 607}, {125, 132}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {125, 132}}</string>
			<key>sourceSize</key>
			<string>{125, 132}</string>
		</dict>
		<key>DogeAssets/dynamite.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189, 1}, {232, 506}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22, 25}, {232, 506}}</string>
			<key>sourceSize</key>
			<string>{277, 555}</string>
		</dict>
		<key>DogeAssets/flask.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618, 663}, {249, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {249, 300}}</string>
			<key>sourceSize</key>
			<string>{249, 300}</string>
		</dict>
		<key>DogeAssets/gpu mining pick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189, 235}, {370, 427}}</string>
			<key>offset</key>
			<string>{-19, 12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52, 30}, {370, 427}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>DogeAssets/laboratory shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189, 607}, {249, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {249, 300}}</string>
			<key>sourceSize</key>
			<string>{249, 300}</string>
		</dict>
		<key>DogeAssets/moon computer 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1110, 1553}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1110, 1553}}</string>
			<key>sourceSize</key>
			<string>{1110, 1553}</string>
		</dict>
		<key>DogeAssets/moon cropped.png</key>
		<dict>
			<key>frame</key>
			<string>{{1920, 663}, {108, 111}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {108, 111}}</string>
			<key>sourceSize</key>
			<string>{111, 113}</string>
		</dict>
		<key>DogeAssets/moon finally.png</key>
		<dict>
			<key>frame</key>
			<string>{{1920, 773}, {108, 111}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 2}, {108, 111}}</string>
			<key>sourceSize</key>
			<string>{111, 113}</string>
		</dict>
		<key>DogeAssets/pickaxe-art2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1568, 914}, {200, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>DogeAssets/question mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189, 959}, {138, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {138, 296}}</string>
			<key>sourceSize</key>
			<string>{138, 296}</string>
		</dict>
		<key>DogeAssets/shibe face.png</key>
		<dict>
			<key>frame</key>
			<string>{{1113, 348}, {53, 65}}</string>
			<key>offset</key>
			<string>{0, 25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53, 2}, {53, 65}}</string>
			<key>sourceSize</key>
			<string>{160, 120}</string>
		</dict>
		<key>DogeAssets/shovel.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618, 278}, {383, 425}}</string>
			<key>offset</key>
			<string>{-3, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34, 15}, {383, 425}}</string>
			<key>sourceSize</key>
			<string>{458, 454}</string>
		</dict>
		<key>DogeAssets/stats.png</key>
		<dict>
			<key>frame</key>
			<string>{{1920, 1021}, {160, 78}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {160, 78}}</string>
			<key>sourceSize</key>
			<string>{160, 80}</string>
		</dict>
		<key>DogeAssets/store-icon-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1487, 1037}, {160, 78}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {160, 78}}</string>
			<key>sourceSize</key>
			<string>{160, 80}</string>
		</dict>
		<key>DogeAssets/store-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488, 875}, {160, 78}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {160, 78}}</string>
			<key>sourceSize</key>
			<string>{160, 80}</string>
		</dict>
		<key>DogeAssets/time vortex.png</key>
		<dict>
			<key>frame</key>
			<string>{{1567, 1196}, {149, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {149, 150}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>DogeAssets/tiny-dogecoin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1770, 1064}, {148, 148}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {148, 148}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>DogeAssets/upgrades divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{2030, 176}, {10, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {10, 100}}</string>
			<key>sourceSize</key>
			<string>{10, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>DogeAssets.png</string>
	</dict>
</dict>
</plist>
