<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DogeAssets/Balance Bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 472}, {149, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {149, 50}}</string>
			<key>sourceSize</key>
			<string>{150, 50}</string>
		</dict>
		<key>DogeAssets/General Heading.png</key>
		<dict>
			<key>frame</key>
			<string>{{558, 30}, {123, 31}}</string>
			<key>offset</key>
			<string>{-1, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37, 4}, {123, 31}}</string>
			<key>sourceSize</key>
			<string>{200, 50}</string>
		</dict>
		<key>DogeAssets/Menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{849, 41}, {170, 87}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 6}, {170, 87}}</string>
			<key>sourceSize</key>
			<string>{175, 100}</string>
		</dict>
		<key>DogeAssets/Pickaxe-Art.png</key>
		<dict>
			<key>frame</key>
			<string>{{763, 306}, {68, 41}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 1}, {68, 41}}</string>
			<key>sourceSize</key>
			<string>{75, 42}</string>
		</dict>
		<key>DogeAssets/Upgrades.png</key>
		<dict>
			<key>frame</key>
			<string>{{558, 626}, {80, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {80, 39}}</string>
			<key>sourceSize</key>
			<string>{80, 40}</string>
		</dict>
		<key>DogeAssets/back Button.png</key>
		<dict>
			<key>frame</key>
			<string>{{558, 155}, {91, 31}}</string>
			<key>offset</key>
			<string>{0, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 13}, {91, 31}}</string>
			<key>sourceSize</key>
			<string>{100, 50}</string>
		</dict>
		<key>DogeAssets/buy button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 779}, {592, 244}}</string>
			<key>offset</key>
			<string>{-4, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 11}, {592, 244}}</string>
			<key>sourceSize</key>
			<string>{610, 260}</string>
		</dict>
		<key>DogeAssets/digger shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{958, 413}, {62, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 66}}</string>
			<key>sourceSize</key>
			<string>{62, 66}</string>
		</dict>
		<key>DogeAssets/dogecoin-300.png</key>
		<dict>
			<key>frame</key>
			<string>{{697, 606}, {74, 74}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>DogeAssets/dogeminer logo 2x 5mil.png</key>
		<dict>
			<key>frame</key>
			<string>{{849, 1}, {173, 38}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 5}, {173, 38}}</string>
			<key>sourceSize</key>
			<string>{200, 50}</string>
		</dict>
		<key>DogeAssets/dogeminer use this .png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 306}, {166, 38}}</string>
			<key>offset</key>
			<string>{1, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 24}, {166, 38}}</string>
			<key>sourceSize</key>
			<string>{200, 100}</string>
		</dict>
		<key>DogeAssets/dynamite shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{958, 345}, {62, 66}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 66}}</string>
			<key>sourceSize</key>
			<string>{62, 66}</string>
		</dict>
		<key>DogeAssets/dynamite.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 1}, {116, 252}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 13}, {116, 252}}</string>
			<key>sourceSize</key>
			<string>{138, 277}</string>
		</dict>
		<key>DogeAssets/flask.png</key>
		<dict>
			<key>frame</key>
			<string>{{806, 345}, {124, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {124, 150}}</string>
			<key>sourceSize</key>
			<string>{124, 150}</string>
		</dict>
		<key>DogeAssets/gpu mining pick.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 119}, {185, 214}}</string>
			<key>offset</key>
			<string>{-9, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26, 15}, {185, 214}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>DogeAssets/laboratory shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 346}, {124, 150}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {124, 150}}</string>
			<key>sourceSize</key>
			<string>{124, 150}</string>
		</dict>
		<key>DogeAssets/moon computer 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {555, 776}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {555, 776}}</string>
			<key>sourceSize</key>
			<string>{555, 776}</string>
		</dict>
		<key>DogeAssets/moon cropped.png</key>
		<dict>
			<key>frame</key>
			<string>{{747, 376}, {53, 55}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {53, 55}}</string>
			<key>sourceSize</key>
			<string>{55, 56}</string>
		</dict>
		<key>DogeAssets/moon finally.png</key>
		<dict>
			<key>frame</key>
			<string>{{747, 431}, {53, 55}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {53, 55}}</string>
			<key>sourceSize</key>
			<string>{55, 56}</string>
		</dict>
		<key>DogeAssets/pickaxe-art2.png</key>
		<dict>
			<key>frame</key>
			<string>{{595, 524}, {100, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>DogeAssets/question mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{804, 471}, {69, 148}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {69, 148}}</string>
			<key>sourceSize</key>
			<string>{69, 148}</string>
		</dict>
		<key>DogeAssets/shibe face.png</key>
		<dict>
			<key>frame</key>
			<string>{{558, 1}, {27, 33}}</string>
			<key>offset</key>
			<string>{0, 12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26, 1}, {27, 33}}</string>
			<key>sourceSize</key>
			<string>{80, 60}</string>
		</dict>
		<key>DogeAssets/shovel.png</key>
		<dict>
			<key>frame</key>
			<string>{{811, 130}, {192, 213}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 7}, {192, 213}}</string>
			<key>sourceSize</key>
			<string>{229, 227}</string>
		</dict>
		<key>DogeAssets/stats.png</key>
		<dict>
			<key>frame</key>
			<string>{{697, 524}, {80, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {80, 39}}</string>
			<key>sourceSize</key>
			<string>{80, 40}</string>
		</dict>
		<key>DogeAssets/store-icon-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{954, 481}, {80, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {80, 39}}</string>
			<key>sourceSize</key>
			<string>{80, 40}</string>
		</dict>
		<key>DogeAssets/store-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{746, 486}, {80, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {80, 39}}</string>
			<key>sourceSize</key>
			<string>{80, 40}</string>
		</dict>
		<key>DogeAssets/time vortex.png</key>
		<dict>
			<key>frame</key>
			<string>{{787, 542}, {75, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 75}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>DogeAssets/tiny-dogecoin.png</key>
		<dict>
			<key>frame</key>
			<string>{{864, 542}, {74, 74}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {74, 74}}</string>
			<key>sourceSize</key>
			<string>{75, 75}</string>
		</dict>
		<key>DogeAssets/upgrades divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005, 130}, {5, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {5, 50}}</string>
			<key>sourceSize</key>
			<string>{5, 50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>DogeAssets.png</string>
	</dict>
</dict>
</plist>
