<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DogeAssets/Balance Bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{3831, 1485}, {593, 198}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 2}, {593, 198}}</string>
			<key>sourceSize</key>
			<string>{600, 200}</string>
		</dict>
		<key>DogeAssets/General Heading.png</key>
		<dict>
			<key>frame</key>
			<string>{{2223, 772}, {488, 118}}</string>
			<key>offset</key>
			<string>{-7, 22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{149, 19}, {488, 118}}</string>
			<key>sourceSize</key>
			<string>{800, 200}</string>
		</dict>
		<key>DogeAssets/Menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{3388, 150}, {678, 345}}</string>
			<key>offset</key>
			<string>{11, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 26}, {678, 345}}</string>
			<key>sourceSize</key>
			<string>{700, 400}</string>
		</dict>
		<key>DogeAssets/Pickaxe-Art.png</key>
		<dict>
			<key>frame</key>
			<string>{{2970, 1963}, {271, 162}}</string>
			<key>offset</key>
			<string>{2, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17, 4}, {271, 162}}</string>
			<key>sourceSize</key>
			<string>{300, 169}</string>
		</dict>
		<key>DogeAssets/Upgrades.png</key>
		<dict>
			<key>frame</key>
			<string>{{3755, 2238}, {320, 156}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {320, 156}}</string>
			<key>sourceSize</key>
			<string>{320, 160}</string>
		</dict>
		<key>DogeAssets/back Button.png</key>
		<dict>
			<key>frame</key>
			<string>{{2223, 1262}, {363, 117}}</string>
			<key>offset</key>
			<string>{-3, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 56}, {363, 117}}</string>
			<key>sourceSize</key>
			<string>{400, 200}</string>
		</dict>
		<key>DogeAssets/buy button.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3110}, {2372, 980}}</string>
			<key>offset</key>
			<string>{-16, -12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18, 42}, {2372, 980}}</string>
			<key>sourceSize</key>
			<string>{2440, 1040}</string>
		</dict>
		<key>DogeAssets/digger shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{2977, 1475}, {250, 265}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {250, 265}}</string>
			<key>sourceSize</key>
			<string>{250, 265}</string>
		</dict>
		<key>DogeAssets/dogecoin-300.png</key>
		<dict>
			<key>frame</key>
			<string>{{2223, 2696}, {294, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {294, 294}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>DogeAssets/dogeminer logo 2x 5mil.png</key>
		<dict>
			<key>frame</key>
			<string>{{3388, 1}, {689, 147}}</string>
			<key>offset</key>
			<string>{0, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55, 22}, {689, 147}}</string>
			<key>sourceSize</key>
			<string>{800, 200}</string>
		</dict>
		<key>DogeAssets/dogeminer use this .png</key>
		<dict>
			<key>frame</key>
			<string>{{2223, 1}, {661, 148}}</string>
			<key>offset</key>
			<string>{2, 27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72, 99}, {661, 148}}</string>
			<key>sourceSize</key>
			<string>{800, 400}</string>
		</dict>
		<key>DogeAssets/dynamite shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{2977, 1208}, {250, 265}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {250, 265}}</string>
			<key>sourceSize</key>
			<string>{250, 265}</string>
		</dict>
		<key>DogeAssets/dynamite.png</key>
		<dict>
			<key>frame</key>
			<string>{{2375, 1}, {465, 1011}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44, 50}, {465, 1011}}</string>
			<key>sourceSize</key>
			<string>{555, 1110}</string>
		</dict>
		<key>DogeAssets/flask.png</key>
		<dict>
			<key>frame</key>
			<string>{{3229, 1264}, {498, 600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {498, 600}}</string>
			<key>sourceSize</key>
			<string>{498, 600}</string>
		</dict>
		<key>DogeAssets/gpu mining pick.png</key>
		<dict>
			<key>frame</key>
			<string>{{2375, 468}, {738, 854}}</string>
			<key>offset</key>
			<string>{-38, 25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{105, 60}, {738, 854}}</string>
			<key>sourceSize</key>
			<string>{1024, 1024}</string>
		</dict>
		<key>DogeAssets/laboratory shibe.png</key>
		<dict>
			<key>frame</key>
			<string>{{2375, 1208}, {498, 600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {498, 600}}</string>
			<key>sourceSize</key>
			<string>{498, 600}</string>
		</dict>
		<key>DogeAssets/moon computer 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2220, 3107}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2220, 3107}}</string>
			<key>sourceSize</key>
			<string>{2220, 3107}</string>
		</dict>
		<key>DogeAssets/moon cropped.png</key>
		<dict>
			<key>frame</key>
			<string>{{2970, 1742}, {219, 223}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 3}, {219, 223}}</string>
			<key>sourceSize</key>
			<string>{223, 226}</string>
		</dict>
		<key>DogeAssets/moon finally.png</key>
		<dict>
			<key>frame</key>
			<string>{{3831, 1264}, {219, 223}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 3}, {219, 223}}</string>
			<key>sourceSize</key>
			<string>{223, 226}</string>
		</dict>
		<key>DogeAssets/pickaxe-art2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3195, 1764}, {400, 400}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {400, 400}}</string>
			<key>sourceSize</key>
			<string>{400, 400}</string>
		</dict>
		<key>DogeAssets/question mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{2375, 1708}, {276, 593}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {276, 593}}</string>
			<key>sourceSize</key>
			<string>{276, 593}</string>
		</dict>
		<key>DogeAssets/shibe face.png</key>
		<dict>
			<key>frame</key>
			<string>{{2223, 664}, {106, 127}}</string>
			<key>offset</key>
			<string>{-1, 51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{106, 5}, {106, 127}}</string>
			<key>sourceSize</key>
			<string>{320, 240}</string>
		</dict>
		<key>DogeAssets/shovel.png</key>
		<dict>
			<key>frame</key>
			<string>{{3231, 497}, {765, 848}}</string>
			<key>offset</key>
			<string>{-6, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69, 31}, {765, 848}}</string>
			<key>sourceSize</key>
			<string>{917, 909}</string>
		</dict>
		<key>DogeAssets/stats.png</key>
		<dict>
			<key>frame</key>
			<string>{{3597, 2086}, {320, 156}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {320, 156}}</string>
			<key>sourceSize</key>
			<string>{320, 160}</string>
		</dict>
		<key>DogeAssets/store-icon-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3755, 2080}, {320, 156}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {320, 156}}</string>
			<key>sourceSize</key>
			<string>{320, 160}</string>
		</dict>
		<key>DogeAssets/store-icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{3597, 1764}, {320, 156}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {320, 156}}</string>
			<key>sourceSize</key>
			<string>{320, 160}</string>
		</dict>
		<key>DogeAssets/time vortex.png</key>
		<dict>
			<key>frame</key>
			<string>{{3755, 2396}, {298, 300}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {298, 300}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>DogeAssets/tiny-dogecoin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2519, 1986}, {294, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {294, 294}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>DogeAssets/upgrades divider.png</key>
		<dict>
			<key>frame</key>
			<string>{{4068, 150}, {20, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 200}}</string>
			<key>sourceSize</key>
			<string>{20, 200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>DogeAssets.png</string>
	</dict>
</dict>
</plist>
